n8n_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-style",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://ai-product-styler.vercel.app"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "35ccb7da-cb8d-44c7-a549-72d8d8ebfdbf",
      "name": "Webhook",
      "webhookId": "2d154313-56e5-4242-bb55-23af1fe4dd1d"
    },
    {
      "parameters": {
        "jsCode": "// Rate Limit Configuration\nconst data = getWorkflowStaticData('global');\nconst limit = 3;\nconst interval = 10 * 60 * 1000; // 10 minutes in ms\n\nconst now = new Date().getTime();\n\nif (!data.lastReset || now - data.lastReset > interval) {\n  data.count = 0;\n  data.lastReset = now;\n}\n\nif (data.count >= limit) {\n  return {\n    json: {\n      ...input.all()[0].json,\n      rateLimited: true\n    }\n  };\n}\n\ndata.count++;\nreturn {\n  json: {\n    ...input.all()[0].json,\n    rateLimited: false\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "273a557c-502a-4318-b80c-0352526e0e1a",
      "name": "Rate Limit Check"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.rateLimited }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "f8a7e4b2-2991-4c28-9125-926588147775",
      "name": "Is Rate Limited"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": \"Rate limit exceeded. Please try again in 10 minutes.\"\n}",
        "options": {
          "responseCode": 429
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        -100
      ],
      "id": "e5c2b9a1-09d3-4a8f-b67e-1284950346c1",
      "name": "Respond Rate Limited"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "={{ $json.body.model }}",
          "mode": "id",
          "cachedResultName": "Custom Model"
        },
        "prompt": "=Professional product photo of {{ $json.body.productName }} in {{ $json.body.color }} color (Note: Since your webhook data is inside body, we use $json.body.X)",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        660,
        100
      ],
      "id": "68b1cb41-57ab-4bdc-a62c-a033acd801b8",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "4fTzLZVCV2ykd3If",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        880,
        100
      ],
      "id": "d0988b21-f595-441c-af9a-46cf1df65412",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Rate Limit Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Check": {
      "main": [
        [
          {
            "node": "Is Rate Limited",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Rate Limited": {
      "main": [
        [
          {
            "node": "Respond Rate Limited",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e4f81701-297d-4984-8e3c-efa56d3a1448",
  "meta": {
    "instanceId": "b10c714de5adc8656b4fdedb42a0d83a89e5753199212ba91756756dd3f1b9f4"
  },
  "id": "w1aBln7TllpL29e0LF22j",
  "tags": []
}