n8n_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-style",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "6df2c7a1-7860-45ff-8517-7e3eeed590d1",
      "name": "Webhook",
      "webhookId": "2d154313-56e5-4242-bb55-23af1fe4dd1d"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "={{ $json.body.model }}",
          "mode": "id",
          "cachedResultName": "Custom Model"
        },
        "prompt": "=Professional product photo of {{ $json.body.productName }} in {{ $json.body.color }} color (Note: Since your webhook data is inside body, we use $json.body.X)",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "cb8d6a10-db5e-499a-bf7c-995ce5eb05de",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "4fTzLZVCV2ykd3If",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "0cc6a0f6-90a2-4d65-b1d7-dabf69143187",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600
  },
  "versionId": "bf55cf12-a939-41ca-8532-8a5da7ec8ea1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b10c714de5adc8656b4fdedb42a0d83a89e5753199212ba91756756dd3f1b9f4"
  },
  "id": "ASDyoG7npn5iSzqPb_qgk",
  "tags": []
}